:root {
  --primary-grey: #BEBEBE;
  --white: #fff;
  --blue: #2a9df4;
  --font-grey: #616161;
  --black: #262626;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f6f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-text {
  font-size: 14px;
  font-weight: 700;
  color: var(--font-grey);
  text-align: center;
}
